*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
body{
        font-family: 'Montserrat', sans-serif;
        font-size: 62.5%;
}

h2{
    font-size: 2.8rem;
    font-weight: 400;
    color: #fff;
}
.heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: lightcoral;
}

p{
    font-size: 1.4rem;

}
.welcome {
    background-image: url('../img/bg1.jpg');
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
   

} 
.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.mainlogo{
    
    background: rgba(0,0,0, 0.5);
    position: absolute;
    padding: 7.5rem 11rem;
    text-align: center;    
    right: 30px;
    top: 200px;
}
 
.mainlogo p{
    font-size: 1.8rem;
    font-weight: 400;
    color: #fff;
}

.profile .wcabout{
    background: rgb(241, 232, 232);
    /* position: absolute; */
    bottom: 0;
    display: flex;
}
.profile .welcometext{
    
    padding: 50px 30px;
    width: 50%;
    text-align: left;

}
.profile .contacticon{
    padding: 50px 30px;
    width: 40%;
    background: rgb(235, 149, 149);
    text-align: center;

}

.welcometext h2{
    padding: 2rem;
}

.contacticon i{
    padding: 2rem;
}


/* ######################################################################## */


.showcase .row{
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    margin-left: 40px;
    margin-top: 80px;
}
.showcase .rowbox{
    color: #fff;
    width: 330px;
    height: 220px;
    font-size: 1.8rem;
    padding: 70px 95px;
    display: flex;
    align-items: center;
    text-align: center;}
    


.row1 .rowbox{
    background:#98cb00 ;
}
.row2 .rowbox{
    background:#cc6733 ;
}
.row3 .rowbox{
    background:#3398cc ;
}
.row4 .rowbox{
    background: #676767 ;
}

.showcase .rowtext{
    width: calc(100% - 330px);
    padding: 20px 45px;
}
.rowtext h3{
    font-size: 2.2rem;
    margin-bottom: 20px;
    font-weight: 400;
    
}
.rowtext span{
    font-size: 1.6rem;
    margin-bottom: 20px;
    font-weight: 400;
}

.row1 .rowtext h3{
    color:#98cb00 ;
}
.row2 .rowtext h3{
    color:#cc6733 ;
}
.row3 .rowtext h3{
    color:#3398cc ;
}
.row4 .rowtext h3{
    color: #676767 ;
}

/* ########################################################### */

.bottom{
    background: url('../img/bg2.jpg');
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* position: relative; */
}

.bottom .container{
    display: flex;
    justify-content: space-between;
    padding: 10px
    
}
.bottom .contacticon{
    background-color: rgba(255, 255, 255, 0.411);
    text-align: center;
    margin-right: 20px;
    padding: 10px;
}

.bottom .container .icontext{
    font-size: 1rem;
}

/* ####################################form*/


body > section.bottom > div.container.form > div{
    background: transparent;
    margin: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 450px;
    justify-content: space-between;
    font-size: 1.4rem;
    color: rgb(104, 96, 96);

}
.form-group .inputarea{
    font-size: 1.2rem;
    margin: 5px;
    padding: 5px;
    border:none ;
    background: transparent;
    border-bottom: 0.5px solid  rgb(104, 96, 96) ;
}
.form-group .btn{
    display: inline-block;
    background-color: #999;
    font-weight: 400;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    padding: 10px 25px;
    border: 1px solid transparent;
    margin-top: 10px;

}

 footer p{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: rgb(104,96,96);
    padding: 20px;
    margin-top: 20px ;
}

